@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Add a Machine to this employee: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")
  @* @Html.CheckBoxFor(model => model.Machine.Name) *@

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Add a Machine", "AddMachine", new {id = Model.EngineerId})</p>
@* Issues around adding a Machine to an engineer using the Id *@