@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details:</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</p>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Engineer is not assigned a Machine for their specialty.</p>
}
else
{
  <h4>Machines assigned to this Engineer:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Machine.Name</li>
      @using (Html.BeginForm())
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new {id = Model.EngineerId})</p>
<br>
<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new {id = Model.EngineerId})</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new {id = Model.EngineerId})</p>