@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Machine Details:</h2>
<h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Type) : @Html.DisplayFor(model => model.Type)</h4>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Machine does not have any Engineers assigned to it.</p>
  <br>
  <p>Would you like to @Html.ActionLink("Add an Engineer", "Create", "Engineer")?</p>
  <br><br>
}
else
{
  <br>
  <h4>Engineers:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name : @join.Engineer.Specialty</li>
    }
  </ul>
}
<p>@Html.ActionLink("Back to Machine List", "Index")</p><br>
<p>@Html.ActionLink("Edit Machine", "Edit", new {id = Model.MachineId})</p><br>
<p>@Html.ActionLink("Delete Machine?", "Delete", new {id = Model.MachineId})</p>